<a href="https://colab.research.google.com/github/ciaoCiao100/Prova1/blob/master/KaggleProvaParte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:

import functools
import pandas as pd
import functools
import numpy as np
import tensorflow as tf
from sklearn import tree
import matplotlib as plt
import nltk
import sklearn.metrics as metrics
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib as plt
import nltk
import sklearn
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
# fa i modo che i numeri siano pi√π leggibili.
np.set_printoptions(precision=3, suppress=True)

test_file_path = "/content/drive/My Drive/test (1).csv"
train_file_path =  "/content/drive/My Drive/train (1).csv"
train_df = pd.read_csv(train_file_path)
train_df.head()
test_df = pd.read_csv(test_file_path)
test_df.head()

   Unnamed: 0 Churn  ... MonthlyCharges TotalCharges
0           0    No  ...          64.85       1336.8
1           1    No  ...          97.20      5129.45
2           2   Yes  ...          23.45        23.45
3           3   Yes  ...          70.20       237.95
4           4    No  ...          61.90

[5 rows x 22 columns]

eiminazione di valori Nan per il train

In [18]:
# Sostituisco ad ogni stringa vuota il valore 'NaN'
train_df.replace("", np.nan, inplace=True)
train_df.replace(" ", np.nan, inplace=True)
train_df.replace("?", np.nan, inplace=True)
train_df.head()

   Unnamed: 0 Churn  ... MonthlyCharges TotalCharges
0           0    No  ...          64.85       1336.8
1           1    No  ...          97.20      5129.45
2           2   Yes  ...          23.45        23.45
3           3   Yes  ...          70.20       237.95
4           4    No  ...          61.90          NaN

[5 rows x 22 columns]

eliminazione di valori Nan per il train

In [19]:
# Sostituisco ad ogni stringa vuota il valore 'NaN'
test_df.replace("", np.nan, inplace=True)
test_df.replace(" ", np.nan, inplace=True)
test_df.replace("?", np.nan, inplace=True)
test_df.head()

   Unnamed: 0 Churn  ... MonthlyCharges TotalCharges
0           0    No  ...          64.85       1336.8
1           1    No  ...          97.20      5129.45
2           2   Yes  ...          23.45        23.45
3           3   Yes  ...          70.20       237.95
4           4    No  ...          61.90          NaN

[5 rows x 22 columns]

In [20]:
# eliminazione dei dati non validi (NaN)
train_df.dropna(inplace=True)
train_df.head()

   Unnamed: 0 Churn  ... MonthlyCharges TotalCharges
0           0    No  ...          64.85       1336.8
1           1    No  ...          97.20      5129.45
2           2   Yes  ...          23.45        23.45
3           3   Yes  ...          70.20       237.95
5           5    No  ...          69.55       521.35

[5 rows x 22 columns]

In [21]:
# eliminazione dei dati non validi (NaN)
test_df.dropna(inplace=True)
test_df.head()

   Unnamed: 0 Churn  ... MonthlyCharges TotalCharges
0           0    No  ...          64.85       1336.8
1           1    No  ...          97.20      5129.45
2           2   Yes  ...          23.45        23.45
3           3   Yes  ...          70.20       237.95
5           5    No  ...          69.55       521.35

[5 rows x 22 columns]

conversione stringhe a float train.csv

In [22]:
#tutte le colonne che contengono stringhe devono essere trasformate in colonne che contengono interi 
for elemento in train_df:
  if elemento=="MonthlyCharges" or elemento=="TotalCharges" or elemento=="tenure":
   train_df[elemento] = train_df[elemento].astype('float')
  else:
   train_df[elemento] = (pd.Categorical(train_df[elemento])).codes.astype('float')

# mostro il dataset dopo l'operazione
train_df.head()

   Unnamed: 0  Churn  customerID  ...  PaymentMethod  MonthlyCharges  TotalCharges
0         0.0    0.0      2364.0  ...            3.0           64.85       1336.80
1         1.0    0.0      3448.0  ...            0.0           97.20       5129.45
2         2.0    1.0      2143.0  ...            2.0           23.45         23.45
3         3.0    1.0      1424.0  ...            2.0           70.20        237.95
5         4.0    0.0      2394.0  ...            2.0           69.55        521.35

[5 rows x 22 columns]

conversione da stringhe a float test.csv

In [23]:
#tutte le colonne che contengono stringhe devono essere trasformate in colonne che contengono interi 
for elemento in test_df:
  if elemento=="MonthlyCharges" or elemento=="TotalCharges" or elemento=="tenure":
   test_df[elemento] = test_df[elemento].astype('float')
  else:
   test_df[elemento] = (pd.Categorical(test_df[elemento])).codes.astype('float')

# mostro il dataset dopo l'operazione
test_df.head()

   Unnamed: 0  Churn  customerID  ...  PaymentMethod  MonthlyCharges  TotalCharges
0         0.0    0.0      2364.0  ...            3.0           64.85       1336.80
1         1.0    0.0      3448.0  ...            0.0           97.20       5129.45
2         2.0    1.0      2143.0  ...            2.0           23.45         23.45
3         3.0    1.0      1424.0  ...            2.0           70.20        237.95
5         4.0    0.0      2394.0  ...            2.0           69.55        521.35

[5 rows x 22 columns]

eliminazione colonne inutili train.csv

In [24]:
train_df = train_df.drop(['customerID', 'gender'], axis=1)
train_df.head()

   Unnamed: 0  Churn  ...  MonthlyCharges  TotalCharges
0         0.0    0.0  ...           64.85       1336.80
1         1.0    0.0  ...           97.20       5129.45
2         2.0    1.0  ...           23.45         23.45
3         3.0    1.0  ...           70.20        237.95
5         4.0    0.0  ...           69.55        521.35

[5 rows x 20 columns]

eliminazione colonne inutili test.csv

In [25]:
test_df = test_df.drop(['customerID', 'gender'], axis=1)
test_df.head()

   Unnamed: 0  Churn  ...  MonthlyCharges  TotalCharges
0         0.0    0.0  ...           64.85       1336.80
1         1.0    0.0  ...           97.20       5129.45
2         2.0    1.0  ...           23.45         23.45
3         3.0    1.0  ...           70.20        237.95
5         4.0    0.0  ...           69.55        521.35

[5 rows x 20 columns]

preparazione modello

In [26]:
features =['SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges','TotalCharges']
X = train_df[features]
Y = train_df['Churn']
X_test = test_df[features]
Y_test =test_df['Churn']

# Specify Model : viene utilizzato RandomForestCLaasifier
#La foresta casuale, come suggerisce il nome, 
#√® costituita da un gran numero di singoli alberi decisionali che operano come un insieme(differentemente per il DecisionTreeClassifier che opera su un albero di decisione).
#Ogni singolo albero nella foresta casuale genera una previsione di classe basandosi sui suoi attributi ed esprime un voto per quella classe
# e la classe con il maggior numero di voti diventa la previsione del nostro modello
#Mentre alcuni alberi potrebbero essere sbagliati, molti altri alberi avranno ragione, quindi come gruppo gli alberi sono in grado di muoversi nella direzione corretta. 
#Le previsioni (e quindi gli errori) fatte dai singoli alberi devono avere basse correlazioni tra loro.
model = RandomForestClassifier(random_state=1)
# Fit Model
model.fit(X, Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

addestramento

In [27]:
train_predictions = model.predict(X)
train_acc = metrics.accuracy_score(Y,train_predictions)
print('Accuracy train: %s'  % train_acc)

Accuracy train: 0.9980440967283073

test

In [28]:
test_predictions = model.predict(X_test)
test_acc=metrics.accuracy_score(Y_test,test_predictions)
print('Accuracy test: %s'  % test_acc)

Accuracy test: 0.9980440967283073